* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  margin: 1rem;
}

.wrapper {
  margin: 0 auto;
}

.main {
  background-image: url(./bg.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.row {
  height: 6.3rem;
  display: flex;
}

.square {
  border: 1px solid rgb(0, 0, 0);
  height: 6.3rem;
  width: 6.3rem;

  /* display: flex;
  align-items: center;
  justify-content: space-around; */
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  justify-items: center;
  align-items: center;
}

.player {
  height: 2.3rem;
  width: 2.3rem;
  border-radius: 20%;
}

.player-1 {
  background-color: rgb(0, 0, 0);
}

.player-2 {
  background-color: yellow;
}

.player-3 {
  background-color: blue;
}

.player-4 {
  background-color: greenyellow;
}

.play-area {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.btn-roll {
  padding: 0.8rem 1.6rem;
  background-color: #eee;
  border-radius: 5px;
}

.btn-roll:hover {
  background-color: #ddd;
}

.btn-roll:active {
  background-color: #ccc;
  transform: scale(1.07);
  transition: all 0.1s ease-out;
}

.roll-result {
  font-size: 3rem;
  color: #fff;
}
